* {
  -webkit-transition-property: background-color, opacity, width, height;
  transition-property: background-color, opacity, width, height;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

nav {
  min-height: 80px;
}

.primary_text {
  color: #00b982;
}

.services-card {
  padding: 0px 30px 0px 30px;
}

.services-card:hover {
  background-color: #00b982;
  color: #ffffff;
}

.services-card:hover a {
  color: #ffffff;
}

.services-img {
  margin: 20px 0px 30px 0px;
}

.odd-section {
  background-color: #F8F8F8;
  margin: 90px 0px 0px 0px;
}

.even-section {
  background-color: #ffffff;
  margin: 90px 0px 0px 0px;
}

.details-section {
  background-color: #00b982;
  margin: 90px 0px 0px 0px;
  padding: 80px 0px 80px 0px;
  color: #ffffff;
}

.team-img {
  width: 250px;
  height: 300px;
  border-radius: 12px;
  margin-bottom: 18px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrap-text {
  margin: 20px 8% 20px 8%;
}

.bg-blur {
  -webkit-box-shadow: 0px 2px 4px 4px rgba(100, 100, 100, 0.15);
          box-shadow: 0px 2px 4px 4px rgba(100, 100, 100, 0.15);
  background-color: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}

.team {
  margin-bottom: 20px;
}

.lnk a {
  color: #495057;
  text-decoration: none;
}

.profile-img {
  border-radius: 30px;
  width: 64px;
  height: 64px;
  margin: 0px 20px 0px 0px;
}

.project-thumbnail {
  height: auto;
}

/*            BUTTONS               */
.btn-md-green {
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  border-radius: 30px;
  background-color: #00b982;
  color: #ffffff;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  border: 1px solid #00b982;
  font-weight: 500;
  text-align: center;
}

.btn-md-green:hover {
  opacity: 75%;
  color: #272727;
}

.btn-submit-green {
  min-width: 250px;
  height: 50px;
  border-radius: 4px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  margin-bottom: 10px;
  background-color: #00b982;
  border: 0px;
  border-left: 3px solid #00b982;
  color: #ffffff;
  font-weight: 600;
}

.btn-submit-green:hover {
  opacity: 80%;
}

.btn-lg-green-outline {
  min-width: 250px;
  height: 50px;
  border-radius: 3px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 0px;
  border-left: 3px solid #00b982;
  color: #00b982;
  font-weight: 600;
}

.btn-md-green-secondary {
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  border-radius: 30px;
  background-color: #ffffff;
  color: #00b982;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  border: 1px solid #ffffff;
  font-weight: 500;
  text-align: center;
}

.btn-md-green-secondary:hover {
  opacity: 75%;
  color: #272727;
}

.btn-sm-green {
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  border-radius: 6px;
  background-color: #ffffff;
  color: #00b982;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: none;
  border: 1px solid #00b982;
  font-weight: 500;
  text-align: center;
}

.btn-sm-green:hover {
  background-color: #00b982;
  color: #F8F8F8;
}

input::file-selector-button {
  background-color: #00b982;
  border: 1px solid #00b982;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 400;
  margin: 5px 20px 15px 0px;
}

input::file-selector-button:hover {
  opacity: 80%;
}
/*# sourceMappingURL=style.css.map */