@mixin btn($width, $height, $radius) {
    min-width: $width;
    height: $height;
    border-radius: $radius;

    width: stretch;
}

@mixin intractive-btn($radius, $bg-color, $color) {
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    border-radius: $radius;
    background-color: $bg-color;
    color: $color;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
}

@mixin sm-btn($radius, $bg-color, $color) {
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    border-radius: $radius;
    background-color: $bg-color;
    color: $color;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}