$heading-color: #444444;
$text-color: #272727;

$blue-color: #3BABE1;
$white-color: #ffffff;
$yellow-color: #FEC349;
$pink-color: #E93E8C;
$green-color: #00b982;
$offwhite-color: #F8F8F8;


$animation-div-time: 0.7s;
$animation-glow-time: 0.7s;
$animation-second-subchild: 200ms;
$animation-third-subchild: 300ms;
$animation-fourth-subchild: 400ms;